# Ignore everything
.gitignore.swp
/archived
/autoload
/DPchangelog_files
/DukePlus
/samples
duke3d
duke3d.grp
dukeplus.bat
textures
eduke32
eduke32.cfg
eduke32.exe
eduke32.log
grpfiles.cache
m32_settings.cfg
m32help.hlp
mapster.bat
mapster32.cfg
mapster32.exe
mapster32.log
DPEFFECTS.html
DPchangelog.htm
textures.cache
DPchangelog
autosave.map
backup.map
DukePlus_Manual.html
names.h
gpl-2.0.txt
eduke32
SEHELP.HLP
settings.cfg
STHELP.HLP
buildlic.txt
tiles.cfg



# But dont ignore these files
!.gitignore
!jason.carney.readme.md
!jasoncarney-maps/*
